
/* Formatação de padding e margin padrão zerado */
*{
    margin: 0;
    padding: 0;
}

body,html{
    margin: 0;
    height: 100%;
}

/* ------- HEADER -------- */

/* Elemento com id "header" */
#header{
    position: relative;
    height: 700px;
    width: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../../imagens/foto\ 1.jpg);
}

/* Elemento com id "titulo-header" */
#titulo-header{
    position: absolute;
    top: 10%;
    left: 6%;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
}

/* Fontes externas */
@font-face {
    font-family: "Lion King";
    src: url(../../fontes/AnyConv.com__lion_king.woff);
}

/* Elemento com classe "titulo-danna" */
.titulo-danna{
    color: #FF82AB;
    font-size: 8em;
    font-family: Lion King;
}

/* Fontes externas */
@font-face {
    font-family: "Adelia";
    src: url(../../fontes/AnyConv.com__adelia.woff);
}

/* Elemento com classe "titulo-tentis" */
.titulo-tentis{
    color: #00FFFF;
    font-size: 8em;
    font-family: Adelia;
}

/* Elemento com id "nav" */
#nav{
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
}

/* Elemento <ul> estilizada */
ul{
    margin: 0;
    padding: 0;
}

/* Elemento <li> dentro de elemento com id "navegacao-header" */
#navegacao-header li{
    display: inline-block;
    list-style: none;
}

/* Todo elemento <a> por padrão sem decoração de texto */
a{
    text-decoration: none;
}

/* Elemento <a> dentro de elemento com id "navegacao-header" */
#navegacao-header li a{
    color: #000;
    margin-right: 60px;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}

/* Elemento <a> em estado de hover dentro de elemento <li> 
e também dentro de elemento com id "navegacao-header" */
#navegacao-header li a:hover{
    color: #FF0000;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

#home #nav #navegacao-header a.home,
#biografia #nav #navegacao-header a.biografia,
#campanhas #nav #navegacao-header a.campanhas,
#contato #nav #navegacao-header a.contato
{
    color: #FF0000;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

/* -------- Container Principal ----------- */

/* Elemento com id "divisoria" */
#divisoria{
    background: #000;
    height: 40px;
}

/* Elemento com id "container-main" */
#container-main{
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

/* Elemento com id "sobre" */
#caixa-conteudo{
    margin: 50px 0 20px 0;
}

/* Elemento <h2> dentro de elemento com id "container-main" */
#container-main h2{
    margin-bottom: 26px;
    font-size: 19px;
    font-family: latobold,sans-serif;
    letter-spacing: 0.1em;
}

/* Elemento <p> dentro de elemento com id "container-main" */
#container-main p{
    font-size: 15px;
    font-family: latolight,sans-serif;
    line-height: 1.62;
}

/* Elemento com id "foto-main" */
#caixa-imagem{
    height: 650px;
    width: 100%;
    background-image: url(../../imagens/foto\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ----------- BIOGRAFIA ----------- */

/* Elemento com classe "caixa-main" */
.caixa-main{
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

/* Elemento com classe "caixa-conteudo" */
.caixa-conteudo{
    margin: 50px 0 20px 0;
}

/* Elemento <h2> dentro de elemento com classe "caixa-conteudo" */
.caixa-conteudo h2{
    margin-bottom: 26px;
    font-size: 19px;
    font-family: latobold,sans-serif;
    letter-spacing: 0.1em;
}

/* Elemento <p> dentro de elemento com classe "caixa-conteudo" */
.caixa-conteudo p{
    font-size: 15px;
    font-family: latolight,sans-serif;
    line-height: 1.62;
}

/* Elementos que tiver as classes "caixa-imagem-1" ou "caixa-imagem-2" */
.caixa-imagem-1, .caixa-imagem-2{
    height: 850px;
    width: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Elemento com classe "caixa-imagem-1" */
.caixa-imagem-1{
    background-image: url(../../imagens/foto\ 3.jpg);
}

/* Elemento com classe "caixa-imagem-2" */
.caixa-imagem-2{
    background-image: url(../../imagens/foto\ 4.jpg);
}

/* -------- CAMPANHAS PUBLICITÁRIAS */

/* Elemento com id "#main-campanhas" */
#main-campanhas{
    width: 90%;
    margin: 0 auto;
    padding: 40px;
}

/* Elemento com classe ".caixa" */
.caixa{
    margin: 20px 0;
    font-size: 15px;
    font-family: latolight,sans-serif;
}

/* Elemento <h1> com elemento com id "#main-campanhas" */
#main-campanhas h1{
    color: #FF82AB;
    font-size: 19px;
    font-family: latolight,sans-serif;
}

/* Elemento com classe ".img-campanha" */
.img-campanha{
    border: 10px solid #CDCDB4;
    margin-top: 20px;
    width: 100%;
}

/* Elemento com id "footer" */
#footer{
    background: #363636;
}

/* Elemento com id "conteudo-footer" */
#conteudo-footer{
    padding: 25px;
    margin: 0 auto;
    width: 720px;
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    color: #778899;
}

/* Elemento <a> dentro de elemento com id "conteudo-footer" */
#conteudo-footer a{
    border-left: 2px solid #778899;
    padding: 0 20px;
    text-decoration: none;
    color: #778899;
}

/* Elemento <a> com classe "link-danna" dentro de elemento com id "conteudo-footer" */
#conteudo-footer a.link-danna{
    border-left: none;
}


