
/* Formatação de padding e margin padrão zerado */
*{
    margin: 0;
    padding: 0;
}

body,html{
    margin: 0;
    height: 100%;
}

/* ------- HEADER -------- */

/* Elemento com id "header" */
#header{
    position: relative;
    height: 700px;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../../imagens/foto\ 1.jpg);
}

/* Elemento com id "titulo-header" */
#titulo-header{
    position: absolute;
    top: 10%;
    left: 10%;
}

/* Elemento com classe "titulo-danna" */
.titulo-danna{
    color: #FF82AB;
    font-size: 8em;
    font-family: American Typewriter, serif;
}

/* Elemento com classe "titulo-tentis" */
.titulo-tentis{
    color: #00FFFF;
    font-size: 10em;
    font-family: serif;
}

/* Elemento com id "nav" */
#nav{
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
}

/* Elemento <ul> estilizada */
ul{
    margin: 0;
    padding: 0;
}

/* Elemento <li> dentro de elemento com id "navegacao-header" */
#navegacao-header li{
    display: inline-block;
    list-style: none;
}

/* Elemento <a> dentro de elemento com id "navegacao-header" */
#navegacao-header li a{
    color: #000000;
    margin-right: 40px;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 2px solid white;
    border-left: none;
    border-right: none;
}