<!DOCTYPE html>

<html lang="pt-br">

<head>
    <title>Danna Tentis</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body id="home">

    <!-- Início Header -->
    <div id="header">

        <div id="titulo-header">
            <span class="titulo-danna">Danna</span><br>
            <span class="titulo-tentis">Tentis</span>
        </div>

        <div id="nav">
            <ul id="navegacao-header">
                <li><a href="">Home</a></li>
                <li><a href="">Biografia</a></li>
                <li><a href="">Campanhas Publicitarias</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
    </div> <!-- Fim Header -->

    <div id="divisoria"></div>

    <!-- Início de Container Principal -->
    <div id="container-main">

        <div id="sobre">
            <h2> A essência da modelo da natureza</h2>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p><br>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p><br>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p><br>
        </div>

    </div> <!-- Fim de Container Principal -->

</body>

</html>