<!DOCTYPE html>

<html lang="pt-br">

<head>
    <title>Danna Tentis</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body id="home">

    <!-- Início Header -->
    <div id="header">

        <div id="titulo-header">
            <span class="titulo-danna">Danna</span><br>
            <span class="titulo-tentis">Tentis</span>
        </div>

        <div id="nav">
            <ul id="navegacao-header">
                <li><a href="">Home</a></li>
                <li><a href="">Biografia</a></li>
                <li><a href="">Campanhas Publicitarias</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
    </div> <!-- Fim Header -->

</body>

</html>