<!DOCTYPE html>

<html lang="pt-br">

<head>
    <title>Danna Tentis</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body id="home">

    <!-- Início Header -->
    <div id="header">

        <div id="titulo-header">
            <a href="home.html">
                <span class="titulo-danna">Danna</span><br>
                <span class="titulo-tentis">Tentis</span>
            </a>
        </div>

        <div id="nav">
            <ul id="navegacao-header">
                <li><a href="home.html">Home</a></li>
                <li><a href="">Biografia</a></li>
                <li><a href="">Campanhas Publicitarias</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
    </div> <!-- Fim Header -->

    <div id="divisoria"></div>

    <!-- Início de Container Principal -->
    <div id="container-main">

        <div id="sobre">
            <h2> A essência da modelo da natureza</h2>

            <p>
                Danna Tentis ( Los Angelis, 5 de novembro de 1995), é uma modelo, socialite e reality - tv star
                americana. Conhecida por aparecer na reality tv show de sua família no canal TVStars!, nomeada Keeping
                Up with the Kardashians. Tentis, além de ser modelo de passarela e fazer aparições em eventos públicos,
                também tem uma linha de roupas com sua irmão mais nova, Dina Jenner Tentis.
            </p><br>

            <p>
                Um pouco sobre sua vida particular infantil, Dinna gostava de visitar a pequena propriedade rural dos
                avós maternos, onde podia andar de carroça com seu avô, tirar leite das vacas e coletar os ovos das
                galinhas com sua avó, colher os morangos da horta, descascar os milhos para alimentar os animais.
                Danna sempre foi muito conectada com a natureza e com as coisas simples da vida.
            </p><br>

            <p>
                O carino pelos animais também foi algo que despertou muito cedo em Danna, ela era empenhada e adorava
                cuidar dos seus cachorros e gatos. Além disso, ela também sempre teve uma forte conexão com cavalos e
                era a mais destemida de todas entre as irmãs. Aliás, destemida para tudo, pois sempre foi muito
                aventureira e gostava de adrenalina.
            </p><br>

            <p>
                A Danna criança era muito ativa, por isso, a prática de esportes sempre foi algo incentivado lá em
                casa. Do balé à ginástica olímpica, do atletismo ao vôlei. Neste último, ela se destacava não só pela
                altura, que era propícia para o esporte, mas pelo seu comprometimento. A Danna sempre levou tudo muito a
                sério. Na hora de jogar, era competitiva e dava o seu melhor, também não tinha medo de chamar a atenção
                das companheiras, caso elas estivessem desanimadas e pouco focadas. Nunca faltava aos treinos e sempre
                jogava com garra.
            </p><br>

            <p>
                Se a altura era boa para o vôlei, não ajudava muito na autoestima de uma pré-adolescente. Ela tinha que
                aturar as brincadeirinhas e apelidos dos meninos da escola. De saracura a Olivia Palito, ela ouviu
                muitas piadinhas pelo fato de ser muito magra e alta. Nas festinhas também não era fácil encontrar um
                menino do seu tamanho para dançar.
            </p><br>
        </div>
    </div> <!-- Fim de Container Principal -->

    <div id="foto-main"></div>

    <div id="footer">
        <div id="conteudo-footer">
            <a class="link-danna" href="">&copy; Danna Tentis</a>
            <a href="http://www.linkedin.com/in/eduardo-isidoro-goncalves">Desenvolvido por: Eduardo Isidoro</a>
        </div>
    </div>

</body>

</html>